/* Styles for Mobile Site */
body{
   background-color: #373736; 
   font-family: Arial, Helvetica, sans-serif;
}
/* Header & Hero */
Header{
    background-color: #67E001;
    color: black;
    font-family: consolas;
    padding: 15px;
    Margin: 10px;
    font-size: 18px;
}
h1{
    text-align: center;
    color: white;
    font-size: 32px;
}
h2,h3,h4,h5,h6{
    text-align: center;
    font-size: 28px;
}
/* Projects */
#project{
    background-color: #0c8f00;
    padding: 8px;
    Margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.projects{
    background-color: #02B85a;
    padding: 8px;
    margin: 10px;
    font-size: 18px;
    color: white;
}
img{
    width: 100%;
}
/* Reviews */
#reviews{
    background-color: #0c8f00;
    padding: 8px;
    Margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.review{
    background-color: #02B85a;
    padding: 8px;
    margin: 10px;
    font-size: 18px;
    color: white;
}
.name{
    font-size:22px;
    color: #090161;
}
.rating img{
    height: 35px;
}
/* Footer */
footer{
    background-color: #002938;
    color: #67E001;
    padding: 5px;
    font-family: consolas;
    font-size: 14px;
}


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    Header{
        background-color: #67E001;
        color: black;
        font-family: consolas;
        padding: 15px;
        Margin: 10px;
    }
    h1{
        text-align: center;
        color: white;
        font-size: 48px;
    }
    h2,h3,h4,h5,h6{
        text-align: center;
        font-size: 40px;
    }
    /* Projects */
    .projects{
        background-color: #02B85a;
        padding: 8px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 8px 1fr;
        color: white;
    }
    img{
        width: 100%;
    }
    /* Reviews */
    #reviews{
        background-color: #0c8f00;
        padding: 8px;
        Margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }    
    #reviews h2{
        grid-column: 1/-1;
    }
    .review{
        background-color: #02B85a;
        padding: 8px;
        margin: 10px;
        color: white;
    }
    .name{
        color: #090161;
    }
    .rating img{
        height: 30px;
        min-width: 85px;
    }
    /* Footer */
    footer{
        background-color: #002938;
        font-family: consolas;
        color: #67E001;
        padding: 5px;
        font-size: 22px;
    }
}